.container {
  width: 100vw; /* 減去左右 padding */
  height: 100vh; /* 減去上下 padding */
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #fff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.header {
  text-align: center;
  flex-shrink: 0;
}

.logo {
  margin: 0 auto;
  /* width: calc(100% - 40px); 保留一些邊距 */
  /* max-width: 300px; */
}

.logoImage {
  width: 100%;
  display: block;
  /* min-width: 500px; */
  height: auto;
  max-height: calc(20vh - 20px);
  object-fit: contain;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  height: calc(80vh - 20px); /* 假設 header 佔 20vh，留些空間給 padding */
}

.characterImage {
  margin: 0 auto;
  width: calc(100% - 40px);
  max-height: calc(60vh - 40px);
  display: flex;
  align-items: center;
}

.characterImageStyle {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.startButton {
  text-align: center;
  /* margin-top: auto; */
  padding: calc(2vh + 10px) 0;
  width: 100%;
  /* width: 180px; */
  /* height: 54px; */
}

.customButton {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: transparent;
  font-size: 0;
  transition: transform 0.3s ease;
}

.hiddenSpan {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (min-width: 1440px) {
  .header {
    margin-bottom: calc(3vh - 10px);
  }
  .logo {
    /* max-width: calc(300px - 5%); */
  }
  .characterImage {
    /* width: calc(80% - 40px); */
    /* max-width: calc(800px - 5%); */
  }
  .customButton {
    width: calc(200px - 2%);
    height: calc(60px - 10%);
  }
}

@media (max-width: 1439px) {
  .header {
    margin-bottom: calc(2vh - 5px);
  }
  .logo {
    /* max-width: calc(200px - 5%); */
  }
  .characterImage {
    /* width: calc(90% - 20px); */
  }
  .customButton {
    width: calc(180px - 2%);
    height: calc(54px - 10%);
  }
}
